@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
	min-height: 1000px;
}

.loader {
	background: transparent;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader.hidden {
	animation: fadeOut 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	100% {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

p {
	font-weight: 300;
	color: #111;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	background-color: #ffffff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.header__logo {
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
	color: saddlebrown;
	text-shadow: none;
}

.header__logo span {
	color: darkorange;
}

.header__navigation {
	position: relative;
	display: flex;
}

.header__navigation a {
	text-decoration: none;
	color: darkorange;
	font-size: 1.2em;
	margin-left: 30px;
	font-weight: 500;
}

.header__navigation a:hover {
	text-decoration: underline;
}

section {
	padding: 100px;
}

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

.banner__content {
	max-width: 900px;
	text-align: center;
	z-index: 1;
}

.banner__content h2 {
	font-size: 5em;
	color: #ffffff;
	font-weight: 700;
}

.banner__content p {
	font-size: 1em;
	color: #ffffff;
}

.banner__button {
	text-decoration: none;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button {
	font-size: 1em;
	color: #ffffff;
	display: inline-block;
	background-color: darkorange;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.5s;
	cursor: pointer;
	border: none;
	outline: none;
}

.button:hover {
	letter-spacing: 4px;
}

.about {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.about__text {
	position: relative;
	width: 48%;
}

h2 {
	color: #111111;
	font-weight: 300;
	font-size: 2em;
}

h2 span {
	color: darkorange;
	font-weight: 700;
	font-size: 1.5em;
}

.about__image {
	position: relative;
	width: 48%;
	min-height: 500px;
}

.about__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content__card {
	width: 340px;
	margin: 20px;
	border: 15px solid #ffffff;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}

.content__card-text {
	padding: 15px 0 5px;
}

.content__card-text h3 {
	font-weight: 400;
	color: #111111;
}

.content__card-image {
	position: relative;
	width: 100%;
	height: 300px;
}

.content__card-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tours {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tours__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.tours__button {
	text-decoration: none;
}

.expert__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.expert__card {
	width: 250px;
	margin: 15px;
}

.expert__image {
	position: relative;
	width: 100%;
	height: 300px;
}

.expert__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expert__card-text {
	padding: 15px 0 5px;
}

.expert__card-text h3 {
	font-weight: 400;
	color: #111111;
}

.testimonials {
	background: url("../assets/background2.jpg");
	background-size: cover;
}

.testimonials__text h2, .testimonials__text p {
	color: #ffffff;
}

.testimonial__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.testimonial__card {
	width: 340px;
	margin: 20px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: white;
}

.testimonial__image {
	position: relative;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}

.testimonial__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.testimonial__card-text {
	text-align: center;
}

.testimonial__card-text p {
	color: #666666;
	font-style: italic;
}

.testimonial__card-text h3 {
	margin-top: 20px;
	color: darkorange;
	font-size: 1em;
	font-weight: 600;
}

.contact {
	background: url("../assets/background3.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.contact__form {
	padding: 75px 50px;
	background: #ffffff;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin-top: 50px;
	width: 100%;
}

.contact__form h3 {
	color: #111111;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 500;
}

.contact__input-box {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contact__input-box input, .contact__input-box textarea {
	width: 100%;
	border: 1px solid #555;
	padding: 10px;
	color: #111111;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	resize: none;
}

.contact__input-box input[type="submit"] {
	font-size: 1em;
	color: #ffffff;
	background: darkorange;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}

.contact__message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact__message_hidden {
	display: none;
}

.contact__message-box {
	max-width: 450px;
	max-height: 200px;
	width: 100%;
	height: 100%;
	margin: 20px;
	background: #FFFFFF;
	display: flex;
	padding: 25px;
	justify-content: center;
	text-align: center;
	align-items: center;
	outline: 2px solid darkorange;
	outline-offset: -25px;
}

.contact__message-box h3 {
	font-size: 1.2em;
	font-weight: 400;
}

.copyright {
	padding: 8px 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.copyright p {
	color: #333;
}